* {box-sizing: border-box;}
#format{
    padding-left:20px;
}
nav{ 
    overflow:hidden;
    background-color:rgb(61, 187, 236);
    margin-bottom: 20px;
}

li a{
    text-decoration:none;
    float:left;
    text-align:center;
    color:#F2F2F2;
    padding:10px;
	font-family: Arial, Verdana, sans-serif;
    font-size:18px;
}
#home1 img{ 
    margin-bottom:10px;
    border: 4px solid black;
   
}
nav li{
    display:inline;
    margin-left: -35px;
}
#current{
		background-color:LightGray;
}
#line{
    border-bottom:2px solid black; 
    padding-bottom:10px;
}

.format{
		padding-left:10px;
		padding-right:10px;
}


nav li a:link{
    text-decoration:none;
    color:white;
}

a:link{
	color:blue;
	text-decoration:none;
}

nav li a:visited{
    color: purple;
    text-decoration:none;
}

a:visited{
	color: purple;
    text-decoration:none;
}

nav li a:hover{
    background-color:gray;
}

a:hover{
	color: gray;
    text-decoration:none;
}

nav li a:active{
	color:red;
}

a:active{
	color:red;
}


h1, h3 ul, h2{
    text-align:center;
}
h3 ul{
    border-bottom:2px solid black;
    list-style-type: none;
}

body{
    background-color:lightblue;
    color:black;
	font-family: Arial, Verdana, sans-serif;
    font-size:16px;
}
section{
	color: 	black;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 1px 1px 1px #fff;
}
form {
    padding-top:15px;
    margin-right: auto;
    margin-left: auto;
    width:80%;
    padding-right: 0;
    padding-left: 0;

}
input, textarea{
		
    display:block;
    margin-bottom:1em;
}
#standout{
    background-image:url("../images/table3.png");
}
#standout2{
    background-image:url("../images/table3.png");
}
#wrapper{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background-color: #F3F3F9;
    background-image: url("../images/Ijams.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 0;
    padding-left : 0;
}
header{
	text-align:center;
    clear:both;
	padding-top:5px;
	border: solid 2px black;
	background-color:rgb(61, 187, 236);
    color:white;
	
}
header h1{
	
	color:white;
}
footer {
    text-align:center;
    background-color:rgb(61, 187, 236);
    color:white;
    clear:both;
}
footer a{
    color:darkblue;
}

.tab{
    overflow: hidden;
    border: 1px solid black;
    background-color: gray;
}

.tab button{
    background-color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    transition: 0.5s;
    font-size: 20px;
    border: 1px solid black;
}

.tab button:hover{
    background-color: blue;
}

.tab button.active{
    background-color:orange;
}

.tabcontent{
    display: none;
    padding: 12px;
    border: 1px solid black;
    border-top: none;
    background-image: url("../images/table3.png");
    background-size: cover;
    
}

.tab_format{
    text-align:center; 
    width: 60%; 
    margin-right:auto;   
}

.tab_format_right{
    text-align:center; 
    width: 60%; 
    margin-left:auto;   
}

.paragraph{
    float:right; 
    width:40%; 
    font-size:20px;
}

.alignment{
    float:left; 
    width:40%; 
    text-align:center;
	padding-left:40px;
}

/*
#right_video{
    float:right; 
	padding-left:50px;
    width:40%; 
    text-align:center; 
    padding-bottom:30px;
}

#right_video iframe{
    width:400px; 
    height:300px;
}

*/

@media only screen and (max-width:1300px){
    #right_video{
        width:70%;
    }

    .alignment{
        width:20%; 
        
    }
}

@media only screen and (max-width:1024px) {
			
			
			h1{
					margin-top:0;
					font-size: 2.5em;
			}
			
			
			.paragraph{
                width:100%;
            }

            #Videos iframe{
                width:300px;
                height:300px;
            }
			
			#main{
					margin:0;
					font-size:90%;
			}
			

}

@media only screen and (max-width:925px){
        nav li a{
            width:90%;
        }

        #right_video{
            width:100%;
        }
    
        .alignment{
            width:100%; 
            
        }
        #Designs iframe{
            width:500px;
            height:500px;
        }
}

@media only screen and (max-width:692px){
    #Designs iframe{
        width:300px;
        height:300px;
    }
}


@media only screen and (max-width:650px){
    #Videos iframe{
        width:200px;
        height:200px;
    }


    #right_video iframe{
        width:200px; 
        height:200px;
    }

}

@media only screen and (max-width:550px) {

    .alignment{
         margin-left:-20px;
         margin-right:0

    }
	
			
	h1{
		margin-top:0;
		font-size: 2.5em;
	}

	.images{
	    float:left;
	}

    #Photography img{
        width:250px;
        height:250px;
        margin-left:-30px;
    }

    .paragraph{
        width:100%;
    }


	#main{
		margin:0;
	}

	.tab_format{
        text-align:center;
        width: 100%;
        margin-right:auto;
    }

    .tab_format_right{
        text-align:center;
        width: 100%;
        margin-left:auto;
    }
	
    

			
}